:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font60: 60px;
  --font40: 40px;
  --font20: 20px;
  --font18: 18px;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: var(--color-white);
  font-size: var(--font20);
  color: var(--color-white);
  font-weight: 400;
  font-family: Inter;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* -----------------------HEADER----------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./assets/Img/png/bg.png);
  background-repeat: no-repeat;
  background-origin: initial;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 24px;
}

.switch-lng {
  display: flex;
  gap: 10px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  transition: 1s;
}

.menu-link:hover {
  color: var(--color-gold);
  transition: 1s;
}

.switch-lng-link:hover {
  color: var(--color-gold);
  transition: 1s;
}

.section {
  padding: 0 20px;
}

/* ---------------------------------BODY TOP---------------------------------------------------------------------- */
.top__section {
  background-image: url(./assets/Img/png/bg.png);
  background-position-y: -19px;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.top-content {
  margin-left: 60px;
}

.golden-button {
  cursor: pointer;

  width: 219px;
  padding: 8px 70px 7px 70px;

  font-family: inherit;
  font-size: var(--font20);
  line-height: 40px;

  border: 0;
  background-color: var(--color-gold);
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: var(--font60);
  line-height: 120px;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.hero-text {
  font-family: "Inter", sans-serif;
  line-height: var(--font40);
  width: 468px;
  margin-top: 10px;
  margin-bottom: 30px;
}