:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font60: 60px;
  --font40: 40px;
  --font20: 20px;
  --font18: 18px;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: var(--color-white);
  font-size: var(--font20);
  color: var(--color-white);
  font-weight: 400;
  font-family: Inter;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
}

/* -------------------------------------BUTTONS-------------------------------------------------- */

.just-button {
  cursor: pointer;

  width: 219px;
  padding: 8px 70px 7px 70px;
  line-height: 40px;

  font-family: inherit;
  font-size: var(--font20);
  color: var(--color-gold);
  border: 2px solid var(--color-gold);

  background-color: transparent;
}

.golden-button {
  cursor: pointer;

  width: 219px;
  padding: 8px 70px 7px 70px;

  font-family: inherit;
  font-size: var(--font20);
  line-height: 40px;

  border: 0;
  background-color: var(--color-gold);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* -----------------------HEADER----------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./assets/Img/png/bg.png);
  background-position-y: 90px;
  background-repeat: no-repeat;
  background-origin: initial;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 24px;
}

.switch-lng {
  display: flex;
  gap: 10px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  transition: 1s;
}

.menu-link:hover {
  color: var(--color-gold);
  transition: 1s;
}

.switch-lng-link:hover {
  color: var(--color-gold);
  transition: 1s;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

/* -------------------------------TITLE-------------------------------------- */
h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-gold);
  line-height: 0.1em;
  margin: 5px 0 20px;
}

h2 span {
  font-size: var(--font40);
  font-family: 'Merriweather';
  background: var(--color-black);
  color: var(--color-gold);
  padding: 0 20px;
}

.title__name {
  min-width: 700px;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 75px;
}

/* ---------------------------------BODY TOP---------------------------------------------------------------------- */
.top__section {
  background-image: url(./assets/Img/png/bg.png);
  background-position-y: -19px;
  background-repeat: no-repeat;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  gap: 175px;
}

.top-content {
  margin-left: 60px;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: var(--font60);
  line-height: 120px;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.hero-text {
  font-family: "Inter", sans-serif;
  line-height: var(--font40);
  max-width: 468px;
  margin-top: 10px;
  margin-bottom: 30px;
}


/* ------------------------------------SKILLS------------------------------ */

.skills__section {
  margin-bottom: 10px;
}

.skills__discribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 50px;
}

.discribe__skills {
  text-align: center;
}

.title__text {
  font-weight: 700;
  font-size: var(--font20);
  line-height: 40px;
  margin-bottom: 20px;
}

.describe__text {
  font-weight: 400;
  font-size: var(--font18);
  line-height: 36px;
}

.skills {
  display: flex;
  gap: 60px;
  margin-left: 9px;
}

/* -------------------------------------------PORTFOLIO----------------------------------------------------------------*/

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 60px;
}

/* -------------------------------------------VIDEO---------------------------------------------------------------*/


.video-player {
  min-height: 705px;
  background-image: url(./assets/Img/png/video/video-player.png);
  background-repeat: no-repeat;
  background-position-y: 1px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}