:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font1: 60px;
  --font2: 40px;
  --font3: 20px;
  --font4: 18px;
}

  /* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: var(--color-black);
  font-size: var(--font4);
  color: var(--color-white);
  font-weight: 400;
  font-family: Inter;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* -----------------------HEADER----------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 24px;
}

.switch-lng {
  display: flex;
  gap: 10px;
}



